@{
    ViewBag.Title = "Home Page";
}

<div class="flex-container">
    <div>
        <a>Werkplekinspectie</a>
    </div> 
    <div>
        Gevaarlijke Situatie / Bijna Ongeval / Milieu Incident Melden     
    </div>
    <div>
        Verbetervoorstel
    </div>  
 
</div>