@{
    ViewBag.Title = "Home Page";
}

<head>
    <link rel="stylesheet" type="text/css" href="../../Content/Index.css">
</head>

<div class="flex-container">
    <div>
        <a>Werkplekinspectie</a>
    </div> 
    <div>
        <a> Gevaarlijke Situatie / Bijna Ongeval / Milieu Incident Melden  </a>   
    </div>
    <div>
        <a>Verbetervoorstel</a>
    </div>  
 
</div>